extends ../layouts/default

block content
	div.header.header-filter.header-about(data-parallax="scroll", data-image-src="https://placeimg.com/1366/500/nature")
		div.container
			div.row
				div.text-center
					div.text-header
						h1 Nosotros
	div.main.main-raised
		div.container
			div.section.text-center.section-landing
				div.row
					div.col-md-8
						h2.title ¿quiénes somos?
						h5.description.text-justify Estamos convencidos de que para gozar de una vida larga y plena debemos de comenzar con una buena alimentación. 
						h5.description.text-justify De ahí nace DULCE NÉCTAR, una empresa mexicana que tiene como propósito fomentar la cultura local y mejorar la calidad de vida de las personas a través de nuestro productos. 
						h5.description.text-justify Recuerda que una buena decisión desencadenará un sinfín de cosas positivas.
					div.col-md-3
						h2 Imagen / contenido aquí
