extends ../layouts/default

block content
	div.header-title
		h2.title ¿quiénes somos?
		
	div
		div.container-fluid
				div.row
					div.col-md-10.col-md-offset-2
						div.col-md-3
							img.img-responsive.rotate-image-right.image-shadow(src="/images/img/BayaBaya.jpg")
						div.col-md-3
							img.img-responsive.image-shadow(src="/images/img/_MG_6794-Recovered.jpg")
						div.col-md-3
							img.img-responsive.rotate-image-left.image-shadow(src="/images/img/Rayito.jpg")
		div.container					
			div.section.text-center.section-landing
				div.row
					div.col-md-12
						h5.description Estamos convencidos de que para gozar de una vida larga y plena debemos de comenzar con una buena alimentación. 
						h5.description De ahí nace DULCE NÉCTAR, una empresa mexicana que tiene como propósito fomentar la cultura local y mejorar la calidad de vida de las personas a través de nuestro productos. 
						h5.description Recuerda que una buena decisión desencadenará un sinfín de cosas positivas.
