extends ../layouts/default

block content
	div.header.header-filter.header-about(data-parallax="scroll", data-image-src="https://placeimg.com/1366/500/nature")
		div.container
			div.row
				div.text-center
					div.text-header
						h1 Nosotros
	div.main.main-raised
		div.container
			div.section.text-center.section-landing
				div.row
					div.col-md-8
						h2.title ¿qué es prensado en frío?
						h5.description.text-justify Al usar la tecnología de prensado en frío las frutas y verduras no se oxidan en el proceso de extracción, y al no aplicarles calor conservan sus aminoácidos, fitonutrientes, minerales, oligoelementos y enzimas. Asimismo, el sabor y sus propiedades duran intactas por 72 horas.
					div.col-md-3
						h2 Imagen / contenido aquí
