extends ../layouts/default

block content
	div.header-title
		div.container
			div.section.text-center.section-landing
				div.row
					div.col-md-8
						h2.title nuestra diferencia
						h5.description.text-justify Al usar la tecnología de prensado en frío las frutas y verduras no se oxidan en el proceso de extracción, y al no aplicarles calor conservan sus aminoácidos, fitonutrientes, minerales, oligoelementos y enzimas. Asimismo, el sabor y sus propiedades duran intactas por 72 horas.
					div.col-md-3
						h2 Imagen / contenido aquí
