extends ../layouts/default

mixin program(program)
	div.col-md-4
		div
			img.card-image.program-image(src=program.image.url)
			div.card
				div.card-block
					h4.card-title= program.name
					a.btn.btn-primary(href='/detox/' + program.slug) Más	

block content
	div.header-title
		div.container
			div.text-center
				h2.title detox
				div.row: .col-md-12
					each program in data.programs
						+program(program)

