extends ../layouts/default

block intro
	.container.header-title
		div.row
			h2.title Frequently asked questions
			
			
block content
	.container
		.row: .col-sm-8.col-md-12
			.col-sm-4.col-md-6
				#accordion
					h4
						| ¿Por qué hacer un Detox? 		
						i.fa.fa-arrow-right
					div
						p.font-faq.text-justify
							| Por que te ayudan a desintoxicar y alcalinizar tu cuerpo. El principal objetivo no es hacer que el usuario baje de peso si no optimizar tu salud ya que en el tiempo que se toman los jugos el sistema digestivo descansa de todos los alimentos procesados que consumimos.
					h4 
						| ¿Cuáles son los beneficios?			
						i.fa.fa-arrow-right
					div
						p.font-faq.text-justify
							| Hacer un detox tiene un sinfín de beneficios, los más importantes son:
						ul.font-faq
							li.font-faq.text-justify Mejora tu sistema digestivo e inmunológico.
							li.font-faq.text-justify Elimina líquidos retenidos y la pesadez del cuerpo.
							li.font-faq.text-justify Le devuelve el brillo a tu piel y cabello.
							li.font-faq.text-justify Te proporciona energía.
							li.font-faq.text-justify Desintoxica y purifica tu cuerpo.
							li.font-faq.text-justify Mejora tu estado de ánimo.
					h4 
						| ¿Cómo sé si necesito hacer un Detox?				
						i.fa.fa-arrow-right
					div
						p.font-faq.text-justify
							| Es muy recomendable hacer un detox si:
						ul
							li.font-faq.text-justify Comes muchos amentos procesados
							li.font-faq.text-justify Sufres de cansancio crónico
							li.font-faq.text-justify No sueles comer frutas y verduras diariamente
							li.font-faq.text-justify Batallas para dormir
							li.font-faq.text-justify Estas hinchado
							li.font-faq.text-justify Te falta claridad mental
							li.font-faq.text-justify Fuma y/o tomas alcohol muy seguido
							li.font-faq.text-justify Siempre en algún punto del día te sientes mal
							li.font-faq.text-justify Tienes sobrepeso
					h4 
						| ¿Cualquiera puede hacer un Detox?				
						i.fa.fa-arrow-right
					div
						p.font-faq.text-justify
							| Si te encuentras embarazada, amamantando o sufres de alguna condición clínica es importante que consultes a tu médico.
					h4 
						| ¿Elegir el plan Detox de 1 día, si ayuda?				
						i.fa.fa-arrow-right
					div
						p.font-faq.text-justify
							| ¡Claro! Le estas dando a tu cuerpo un descanso de 24 horas en donde lo alimentas con una cantidad increíble de nutrientes. Créenos tu cuerpo te lo agradecerá.
					h4 
						| ¿Cuánto me duran los jugos y como se almacenan?			
						i.fa.fa-arrow-right
					div
						p.font-faq.text-justify
							| Los jugos te duran 72 horas ya que son prensados en frío y no se someten a ningún tipo de proceso químico para alargar su tiempo de vida. Por lo mismo, es importante que los mantengas refrigerados el mayor tiempo posible.
					h4 
						| ¿Por qué mis jugos se separan?			
						i.fa.fa-arrow-right
					div
						p.font-faq.text-justify
							| Que tu jugo se separe o se vea de dos colores es perfectamente natural, no te preocupes. Esto se debe a que no se cuela ni se añaden químicos. Recuerda refrigerarlo y agitarlo antes de beberlo.
					h4 
						| ¿Existen síntomas de desintoxicación?				
						i.fa.fa-arrow-right
					div
						p.font-faq.text-justify
							| Los síntomas de desintoxicación más comunes son: fatiga, dolor de cabeza y mareos. Cada persona y cada cuerpo son diferentes por lo que no todos sufren de los síntomas. El sentirte de esta manera significa que tu cuerpo estaba muy intoxicado y se esta renovando.
					h4 
						| ¿Puedo hacer ejercicio durante mi Detox?				
						i.fa.fa-arrow-right
					div
						p.font-faq.text-justify
							| Si, el ejercicio de bajo impacto es una gran manera de apoyar tu proceso de desintoxicación. Pero lo más importante es que escuches a tu cuerpo el te dirá como se siente.
					h4 
						| ¿Puedo comer o tomar alguna bebida que no sea jugo durante mi Detox?			
						i.fa.fa-arrow-right
					div
						p.font-faq.text-justify
							| Lo que si puedes tomar aparte de tus jugos es mucha agua o un té herbal sin cafeína. De preferencia te sugerimos que no comas ya que interrumpe tu proceso de desintoxicación, sin embargo si crees que lo necesitas puedes comer varitas de apio, pepino o un puñado de almendras.
					h4 
						| ¿Cuál es la dinámica del detox?			
						i.fa.fa-arrow-right
					div
						p.font-faq.text-justify
							| Es muy sencillo solo tienes que escoger el plan que quieres realizar y los días que lo quieres hacer. Recuerda que son 6 jugos pensados en frío de 500ml por día.
					h4 
						| ¿Cómo los pido?			
						i.fa.fa-arrow-right
					div
						p.font-faq.text-justify
							| En la pestaña "contacto" deja tus datos junto a tu mensaje y nosotros nos comunicaremos contigo o bien puedes hacer tu pedido por medio de nuestras redes sociales.
					h4 
						| ¿Cómo se entregan?
						i.fa.fa-arrow-right
					div
						p.font-faq.text-justify
							| Tus jugos se te entregarán un día antes del día que lo quieres comenzar y serán entregados a la dirección que nos proporciones.																					
			.col-sm-3.col-md-4.col-md-offset-1
				img(src="/images/img/Rayito.jpg", class="img-circle img-responsive")
