extends ../layouts/default

block content
	div.container-fluid
		div(id="myModal", class="modal")
			div.modal-content
				div.modal-header
					span.close cerrar
					h1 Suscríbete!
				div.modal-body
					p Compártenos tu email 
					input(class="inputmodal", type="text", name="email")
				div.modal-footer
					h3 Dulce Néctar
		div.row
			div#slider
				img.active.img-responsive(src="/images/img/Portada.jpg")
				img.img-responsive(src="/images/img/_MG_6847.jpg")
				img.img-responsive(src="/images/img/_MG_6800.jpg")
		div.row
			div.col-md-8.col-md-offset-2
				h2.title.text-center COMUNIDAD
					div#instafeed

