extends ../layouts/default

block content
	div.header.header-filter.img-header
		div.container
			div.row
				div.col-md-6
					div.text-header
						h1 What is Lorem Ipsum?
						h3 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
	div.main.main-raised
		div.container
			div.section.text-center.section-landing
				div.row
						div.col-md-8.col-md-offset-2
						h2.title Instagram
						div#instafeed
