extends ../layouts/default

block content
	div.header
		div.container-fluid
			div.row
				div.slider
					div.slide1
					div.slide2
					div.slide3

	div.main
		div.container-fluid
			div.section.text-center.section-landing
				div.row
						div.col-md-8.col-md-offset-2
							h2.title Instagram
							div#instafeed

