extends ../layouts/default

block content
	div.header-title
		div.container
			div.text-center
				h2.title nuestra diferencia
				div.row
					div.col-md-12
						div.col-md-4
							img(src="/images/img/farmer.png", style="width: 50%;")
							p.description De la tierra a tus manos. Jugos elaborados 100% frutas y verduras, no añadimos agua, aditivos, conservadores ni azúcar.
						div.col-md-4
							img(src="/images/img/mexico.png", style="width: 50%;")
							p.description Uno de nuestros propósitos es fomentar la cultura local. Todo proviene de nuestro país lindo y querido.
						div.col-md-4
							img(src="/images/img/bottle.svg", style="width: 50%;")
							p.description Usamos envases de vidrio que cuidan el medio ambiente y las propiedades de tu jugo.
				div.row
					div.col-md-12
						div.col-md-4
							img(src="/images/img/cold_pressed2.png", style="width: 50%;")
							p.description Al usar la tecnología de prensado en frío las frutas y verduras no se oxidan en el proceso de extracción, y al no aplicarles calor conservan sus aminoácidos, fitonutrientes, minerales, oligoelementos y enzimas. Asimismo, el sabor y sus propiedades duran intactas por 72 horas.
						div.col-md-4
							img(src="/images/img/balanza.svg", style="width: 50%;")
							p.description Probamos que lo rico y lo saludable pueden ir de la mano.
						div.col-md-4
							img(src="/images/img/on_demand_service.png", style="width: 50%;")
							p.description Salud, bienestar y felicidad a tu puerta.
