extends ../layouts/default

mixin item(item)
	img(src=item.image.secure_url, alt=item.slug)
	
block content
	div.header-title
		div.container
			div.row
				div.col-md-4
					div.slider-images.card.card-raised
						each item in data.items
							+item(item)
				div.col-md-8
					div.row
						h2.title(id="itemTitle") #{data.program_obj.name}
						img(id="itemIng", class="hvr-float-shadow image-shadow", alt="Item Image")
						p.description(id="itemPerks") 
			div.row
				div.col-md-3.col-sm-3
					h3.title-info Más información
			div.row
				div.col-md-offset-1
					p.text-justify(id="itemInfo")
	script(type='text/javascript').
		var local_data =!{JSON.stringify(data)}