extends ../layouts/default

block content
	div.header.header-filter.header-about(data-parallax="scroll", data-image-src="https://placeimg.com/1366/500/nature")
		div.container
			div.row
				div.text-center
					div.text-header
						h1 Nosotros
	div.main.main-raised
		div.container
			div.section.text-center.section-landing
				div.row
					div.col-md-8.col-md-offset-2
						h2.title superfoods
						h5.description.text-justify Los “superfoods o superalimentos”, son alimentos 100% naturales que contienen un alto contenido nutricional. Nos dan un boost a nuestro cuerpo y son utilizados para complementar nuestras deficiencias nutrimentales.
