extends ../layouts/default

block content
	div.header-title
		h2.title superfoods
	div.container					
			div.row
				div.col-md-12
					h5.description.text-center Los “superfoods o superalimentos”, son alimentos 100% naturales que contienen un alto contenido nutricional. Nos dan un boost a nuestro cuerpo y son utilizados para complementar nuestras deficiencias nutrimentales.
