@import 'https://fonts.googleapis.com/css?family=Titillium+Web';


#header {
	margin-top: $size-small;
}
.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

.header-text {
	float: none;
	display: table-cell;
	vertical-align: bottom;
}

.rotate-image-right {
  /* Firefox */
  -moz-transform:rotate(5deg);
  /* Safari and Chrome */
  -webkit-transform:rotate(5deg);
  /* Opera */
  -o-transform:rotate(5deg);
  /* IE9 */
  -ms-transform:rotate(5deg);
}

.rotate-image-left {
  /* Firefox */
  -moz-transform:rotate(-5deg);
  /* Safari and Chrome */
  -webkit-transform:rotate(-5deg);
  /* Opera */
  -o-transform:rotate(-5deg);
  /* IE9 */
  -ms-transform:rotate(-5deg);
}



.image-shadow {
  -webkit-box-shadow: 1px 6px 44px -5px rgba(0,0,0,1);
  -moz-box-shadow: 1px 6px 44px -5px rgba(0,0,0,1);
  box-shadow: 1px 6px 44px -5px rgba(0,0,0,1);
}

.header-images-container {
  margin-top: $size-small;
}

// Blog

.blog-container {
	margin-top: $size-medium;
}

.title-blog {
	color:$white-color;
	padding: 20px;
	font-weight: bold;
}

.posts-container {
	background-color: $white-color;
	padding-left: $size-medium;
	padding-top: $size-small;
	padding-bottom: $size-small;

}

.posts-container p {
	font-family: $general-font;
	font-size: 1.2em;
	line-height: 150%;
	text-align: justify;
}

.post-container {
	margin-top: $size-medium !important;
	padding-top: 2%;
	padding-left: 0;
	padding-bottom: 2%;

}

.post-container p {
	font-family: $general-font;
	font-size: 1.3em;
	line-height: 150%;
	text-align: justify;
}

#footer {
 	color:$black-color;
 	font-family: $general-font;
	font-size: 1.2em;
  	padding-top: $size-small;
}

.header-title {
  margin-top: 11%;
  text-align: center;
}

// Contact stuff
.contact-label {
	color: rgb(40, 40, 40);
}


.form-contact {
	width: 95%;
	padding: 12px;
	margin: 6px 0 4px;
	border: 1px solid #ccc;
	background: #fafafa;
	font-family: sans-serif;
	font-size: 12px;
	line-height: normal;
	box-sizing: border-box;
	border-radius: 2px;
}

// < stuff
#slider {
  max-width: 100%;
  height: 620px;
  margin: $size-small auto;
  position: relative;
  -webkit-box-shadow: 1px 6px 44px -5px rgba(0,0,0,.5);
  -moz-box-shadow: 1px 6px 44px -5px rgba(0,0,0,.5);
  box-shadow: 1px 6px 44px -5px rgba(0,0,0,.5);
}
#slider img {
  position: absolute;
  z-index: 1;
  max-height: 100%;
  min-width: 100%;
}

#slider img.active {
  z-index: 3;
}

.program-image {
  width: 100%;
  max-height: 200px;
}

.slick-prev:before,
.slick-next:before {
  color: black !important ;
}

h1, h3 {
  font-family: $general-font;
}

// Navbar stuff
.navbar-header {
  margin-top: 1%;
}

.navbar-right {
  padding-right: $size-medium;
}

.logonectar {
  padding: $size-small;
  margin-left:20px;
}

#header {
  margin-top:0;
}

.navbar {
  padding: 0 !important;
}

.navbar-transparent {
  padding-top: 0px !important;
}

.navbar-left {
  margin-top: 2.5%;
  margin-left: $size-small;
}

.navbar-right {
  margin-top: 1.5%;
}

.nav a {
  font-family: $title-font;
  font-size: 2em !important;
  font-weight: bold !important;
}

.navbar-custom {
  background-color: $white-color !important;
  color: $black-color !important;
}

.logo-fb-header {
  width: 50px;
  min-height:auto;
  @include vertical-align();
}

.logo-insta-header {
  width: 60px;
  min-height:auto;
  @include vertical-align();
}

.logo-mail-header {
  width: 55px;
  min-height: auto;
  @include vertical-align();
}

.navbar .navbar-toggle {
    margin-right:15px !important;
    margin-top: 30px;
}

a.svg {
  padding: 15px 15px 0 15px !important;
}

a.svg:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.dropdown-menu li > a:hover {
  background-color: $orange-background !important;
}

.green-background:hover {
  @include menu-button($orange-background);
}

.blue-background:hover {
  @include menu-button($green-background);
}

.brown-background:hover {
  @include menu-button($light-green-background);
}

.red-background:hover {
  @include menu-button($purple-background);
}

.orange-background:hover {
  @include menu-button($peach-background);
}

.purple-background:hover {
  @include menu-button($cream-background);
}

// Hover.css
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px $transparent-background;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px $transparent-background;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

.title {
    color: $gray-color;
    font-family: $title-font;
    font-weight: bold !important;
    font-size: 5em;
}

.post-title {
  color: $blue-color;
  font-family: $title-font;
  font-weight: bold;
  text-decoration: none;
}

.post-title:hover {
  color: $brown-color;
  font-family: $title-font;
  font-weight: bold;
  text-decoration: none;
}

.description {
  color: $black-color !important;
  font-family: $general-font;
  font-size: 1.5em;
}

.post-description {
  color: $black-color;
  font-family: $general-font;
}

.header-about {
  background-image: url('https://placeimg.com/1366/500/nature');
  max-height: 400px;
}

.container-about {
  background-color: $white-color;
  font-family: $title-font;
  font-weight: bold;
  text-decoration: none;
}

.container-about > h1 {
  font-family: $title-font;
  text-decoration: none;
  font-weight: bold;
}

.footer-message {
  display: inline-block;
  margin-left: $size-xlarge;
}

.footer-logo {
  height:auto;
  width:200px ;
  margin-top: -20px;
}

body, .wrapper {
  background: url('/images/img/tileable_wood_texture.png') !important;
  background-repeat: repeat;
}

#accordion {
  cursor: pointer;
}

#accordion > h4 {
  margin-top: 20px;
}

#accordion > div > ul > li{
  list-style-type: disc !important;
}

#accordion > h4:first-child {
  margin-top: 0;
}

.navbar-fixed-top {
  min-height: 110px;
}

li {list-style-type: none;}

.slick-next, .slick-prev {
  margin: 4px;
}

#itemIng {
  border-radius: 15px;
  margin: $size-small;
}

#itemPerks {
  margin: $size-small;
}

#itemPerks > span {
  margin-bottom: $size-small;
  display: inline-block;
}

#instafeed > a > img {
  padding: 5px;
  border-radius: 10px;
  width: 30%;
  height: auto;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    width: 70%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    padding-top: $size-medium;
    margin: 0 auto;
    margin-top: $size-small;
}

/* Modal Content/Box */
.modal-content {
    position: relative;
    margin: auto;
    padding: 3%;
    width: 80%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    float: right;
    font-weight: bold;
    color: black !important;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer; cursor: hand;
}


/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

#mc_embed_signup .button {
  background-color: #EE836E !important;
}

#mc_embed_signup .button:hover {
  background-color: #CF3000 !important;
}

.blogtitle {
  font-family: 'Lora', serif !important;
}

a, a:hover {
    text-decoration:none;
    cursor: pointer;
    color:#000000 !important;
}

.nav-pag {
  margin: $size-medium 0 0 0;
}

.pagination_blog > li > a {
  background-color: transparent !important;
}

.pagination_blog > li.active > a {
    background-color: green !important;
    color: white !important;
    cursor: pointer;
}

.pagination_blog > li > a:hover,
.pagination_blog > li > a:focus {
    background-color: green !important;
    color: white !important;
}

.pagination_detox > li > a {
  color: black !important;
  font-size: 1.5em !important;

}

.pagination_detox > li > a:hover,
.pagination_detox > li > a:focus {
    background-color: black !important;
    color: white !important;
}

.card-block > p {
  padding: 10px;
}

.perk-label {
  font-size: 12px !important;
}

.font-faq {
  font-size: 15px !important;
}

#itemInfo {
  padding: 10px;
  font-size: 1.2em;
}

.title-info {
  padding-top: 10px;
}

.navlogos>li {
  float: left;
  margin-left: 5px;
}
