@import 'https://fonts.googleapis.com/css?family=Titillium+Web';

#header {
	margin-top: $size-small;
}
.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

.header-text {
	float: none;
	display: table-cell;
	vertical-align: bottom;
}

.rotate-image-right {
  /* Firefox */
  -moz-transform:rotate(5deg);
  /* Safari and Chrome */
  -webkit-transform:rotate(5deg);
  /* Opera */
  -o-transform:rotate(5deg);
  /* IE9 */
  -ms-transform:rotate(5deg);
}

.rotate-image-left {
  /* Firefox */
  -moz-transform:rotate(-5deg);
  /* Safari and Chrome */
  -webkit-transform:rotate(-5deg);
  /* Opera */
  -o-transform:rotate(-5deg);
  /* IE9 */
  -ms-transform:rotate(-5deg);
}



.image-shadow {
  -webkit-box-shadow: 1px 6px 44px -5px rgba(0,0,0,1);
  -moz-box-shadow: 1px 6px 44px -5px rgba(0,0,0,1);
  box-shadow: 1px 6px 44px -5px rgba(0,0,0,1);
}

.header-images-container {
  margin-top: $size-small;
}

// Blog

.blog-container {
	margin-top: $size-medium;
	background-image: url('/images/img/_MG_6806.jpg');
	-moz-box-shadow:    inset 0 0 7px $black-color;
	-webkit-box-shadow: inset 0 0 7px $black-color;
	box-shadow:         inset 0 0 7px $black-color;
	background-position: 30% 20%;
}

.title-blog {
	color:$white-color;
	padding: 20px;
	font-weight: bold;
}

.posts-container {
	background-color: $white-color;
	padding-left: $size-medium;
	padding-top: $size-small;
	padding-bottom: $size-small;

}

.posts-container p {
	font-family: $general-font;
	font-size: 1.2em;
	line-height: 150%;
	text-align: justify;
}

.post-container {
	margin-top: $size-medium !important;
	padding-top: 2%;
	padding-left: 0;
	padding-bottom: 2%;

}

.post-container p {
	font-family: $general-font;
	font-size: 1.3em;
	line-height: 150%;
	text-align: justify;
}

#footer {
 	color:$black-color;
 	font-family: $general-font;
	font-size: 1.2em;
  	padding-top: $size-small;
}

.header-title {
  margin-top: 11%;
  text-align: center;
}

// Contact stuff
.contact-label {
	color: rgb(40, 40, 40);
}


.form-contact {
	width: 95%;
	padding: 12px;
	margin: 6px 0 4px;
	border: 1px solid #ccc;
	background: #fafafa;
	font-family: sans-serif;
	font-size: 12px;
	line-height: normal;
	box-sizing: border-box;
	border-radius: 2px;
}

// Slider stuff
#slider {
  max-width: 100%;
  height: 620px;
  margin: $size-small auto;
  position: relative;
  -webkit-box-shadow: 1px 6px 44px -5px rgba(0,0,0,.5);
  -moz-box-shadow: 1px 6px 44px -5px rgba(0,0,0,.5);
  box-shadow: 1px 6px 44px -5px rgba(0,0,0,.5);
}
#slider img {
  position: absolute;
  z-index: 1;
  max-height: 100%;
  min-width: 100%;
}

#slider img.active {
  z-index: 3;
}

#accordion {
  cursor: pointer;
}

.fa-arrow-down {
  font-size: 60% !important;
}

#accordion > h4 {
  margin-top: 20px;
}

#accordion > h4:first-child {
  margin-top: 0;
}

.navbar-fixed-top {
  height: 110px;
}
