// Override Bootstrap variables in this file, e.g.
$font-size-base: 14px;

// Menu colors
$orange-background: rgba(255, 183, 4, 1);
$green-background: rgba(161, 206, 68, 1);
$light-green-background: rgba(226, 237, 111, 1);
$purple-background: rgba(170, 43, 79, 1);
$peach-background: rgba(245, 106, 103, 1);
$cream-background: rgba(247, 142, 140, 1);
$transparent-background: rgba(0, 0, 0, 0);

// General colors
$black-color: #000000;
$white-color: white;
$blue-color: #152a47;
$gray-color: #3C4858;
$light-gray-color: #777777;
$brown-color: brown;
$hover-color: rgba(204, 204, 204, 0.31);


// Fonts
$general-font: 'Titillium Web', sans-serif !important;
$title-font: 'Amatic SC', cursive;

// Mixins
@mixin menu-button($color) {
  border-radius: 3px;
  color: white;
  background-color: $color !important;
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: 20px;
}

// Margin sizes
$size-small: 5%;
$size-medium: 10%;
$size-large: 15%;
$size-xlarge: 20%;
