// Bootstrap
// =========

// Bootstrap can be removed entirely by deleting this line.

@import "bootstrap/bootstrap";

// The easiest way to customise Bootstrap variables while
// being able to easily override the source files with new
// versions is to override the ones you want in another file.
//
// You can also add your own custom variables to this file for
// use in your site stylesheets.

@import "site/variables";


// Site Styles
// ===========

// Add your own site style includes here
@import "site/layout";

.navbar-right {
  padding-right: 10%;
}

.logonectar {
  padding: 5%;
  margin-left:20px;
}

.img-header {
  background-image: url('https://placeholdit.imgix.net/~text?txtsize=114&txt=hello&w=1366&h=2000');
}

#header {
  margin-top:0;
}


.navbar-left {
  margin-top: 2%;
  margin-left: 5%;
}

.navbar-right {
  margin-top: 2%;
}

.nav a {
  font-family: 'Amatic SC', cursive;
  font-size: 2em !important;
  font-weight: bold !important;
}

.navbar-custom {
  background-color: white !important;
  color: black !important;
}

.logo-header {
  width:40px;
  border-radius: 15px;
  padding:3px;
  margin-right: 20px;
  margin-top: 5px;
}

.link-hidden {
  padding: 0 !important;
}
